.bio{
  font-size: 2rem;
  font-family: Jazz LET, fantasy;
  color: black;
  font-weight: bold;
  line-height: 1.4em;
}
#bio{
  color: black;
  font-size: 4em;
  text-decoration: underline;
}
#selfie{
  height: 550px;
  width: 550px;
}

