.bio{
  font-size: 2rem;
  font-family: 'Avenir Next Condensed Medium", Calibri, "Gill Sans", sans-serif';
  color: black;
  font: weight 3px;
  line-height: 1.4em;
}
#bio{
  color: black;
  font-family: 'Staatliches', cursive;
  font-size: 4em;
  text-decoration: underline;
}
#selfie{
  height: 550px;
  width: 550px;
}

